.idea
.classpath
.editorconfig
.project
.settings
.gradle
bin
build
out
file-uploads
.vertx

# Folders created by docker container
data
user-data
secrets

# Ignore configuration file, since this is environment specific
conf.json
