#
# Copyright 2018-2025 Cyface GmbH
# 
# This file is part of the Cyface Data Collector.
# 
# The Cyface Data Collector is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# The Cyface Data Collector is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with the Cyface Data Collector.  If not, see <http://www.gnu.org/licenses/>.
#
# Eclipse Files
.classpath
.settings
bin
.project

# Intellij Idea Files
.idea
.editorconfig
out
*.iml

# Gradle Temporary Files
.gradle
build
local.properties
gradle.properties

# Ignore local test maven repositories
**/repo

# Vim Temporary Files
**/*.swp

# Cyface Temporary Files
**/uploadFolder
**/upload-folder
**/file-uploads
**/.vertx
**/conf.json
**/*.log
./cyface-test*.json
**/logs

# Temporary Git Files
**/*.orig

# Ignore logging configurations
**/logback.xml
!executables/collector/src/main/resources/logback.xml

# Vertx Config files
**/config.json

# Mac temporary Files
.DS_Store

# Temporary files created by the Docker Setup
src/main/docker/keycloak/data/h2
src/main/docker/keycloak/data/tmp
/cyface-test-9807604229c0.json
/src/main/docker/.env
