{
	"jwt.public":"src/test/resources/public.pem",
	"jwt.private":"src/test/resources/private_key.pem",
	"jwt.expiration":600,
	"metrics.enabled":false,
	"mongo.db":{
	    "db_name":"cyface",
	    "connection_string":"mongodb://localhost:27019",
	    "data_source_name":"cyface"
	},
	"admin.user":"admin",
	"admin.password":"secret",
	"http.port":8080,
	"http.host":"localhost",
	"http.endpoint":"/api/v3",
	"http.port.management":13371
}