# Copyright (C) 2020-2023 Cyface GmbH - All Rights Reserved
# Unauthorized copying of this file, via any medium is strictly prohibited
# Proprietary and confidential.

app/file-uploads
app/logs
/app/logback.xml
