# Copyright (C) 2020-2023 Cyface GmbH - All Rights Reserved
# Unauthorized copying of this file, via any medium is strictly prohibited
# Proprietary and confidential.

file-uploads
logs
/container-oauth/logback.xml
/container-jwt/logback.xml
